<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<!-- <pattenLayout pattern=""></pattenLayout>  -->
		</console>
	</appenders>
	<loggers>
		<loggername="weixin_corp" level="trace" adiditivity="false">
			<appenderRef ref='console'/>
		</logger>
		<root level="error">
			<appenderRef ref="console"/>
		</root>
		
	</loggers>
</configuration>